<ul class="sidebar-menu nav flex-column">
  <li class="nav-item">
    <%= link_to "アカウント", account_path, class: "sidebar-menu-item selected" %>
  </li>
  <li class="nav-item">
    <%= link_to "プロフィール", profile_path, class: "sidebar-menu-item" %>
  </li>
</ul>
