html {
  -webkit-text-size-adjust: 100%;
}

body {
  color: #222222;
  background-color: #fff;
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.Navbar {
  background-color: #000066;
  height: 80px;
}

.container-fluid {
  padding: 0 40px;
  max-width: 1680px;
}

.header-logo {
  width: 240px;
}

.user-menu {
  gap: 10px;
}

.user-icon {
  width: 40px;
}

.user-menu li {
  font-size: 14px;
  padding: 0 10px;
}

.navbar-nav {
  gap: 18px;
}

.btn {
  color: #fff;
}

.login-btn {
  border: 1px solid #fff;
}

.signup-btn {
  background-color: #ea5506;
}

.flash-message {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 40px;
  background-color: #333;
  border-radius: 3px;
  color: azure;
  box-shadow: 2px 3px 2px rgba(192, 198, 201, 0.3);
}

.flash-message > p {
  padding: 10px;
  margin: auto;
}

footer {
  background-color: #000066;
  height: 180px;
}

.footer-logo {
  width: 240px;
  margin-bottom: 8px;
}

.copyright {
  color: #fff;
  font-size: 12px;
}
